.containerGroupProjects {
  height: fit-content;
  padding-top: 40px;
  padding-bottom: 32px;
}

.listProjects {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1200px) {
  .containerGroupProjects {
    min-height: 100%;
  }
}
