.containerGroupProjects {
  height: fit-content;
  padding-top: 40px;
  padding-bottom: 32px;
}

.listProjects {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 56.25rem) {
  .containerGroupProjects {
padding-top: 80px;
  }
}

@media only screen and (min-width: 75rem) {
  .containerGroupProjects {
    min-height: 100%;
  }
}
