.listSkills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 0.5rem;
}

.skillsBox {
  list-style-type: none;
  border-style: solid;
  border-radius: 5px;
  padding: 4px 6px 4px 6px;
  border-color: transparent;
  border-width: 1px;
  margin: 2px;
  background-color: var(--dark-theme-bg-tag);
}
