
.listSkills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    padding-top: 1rem;
}

.skillsBox {
    list-style-type: none;
    border-style: solid;
    background-color: var(--WhiteColor);
    border-radius: 20px;
    color:  var(--GreyColor);
    padding: 4px 8px 4px 8px;
    border-color:  var(--GreyColor);
    border-width: 1px;
    margin: 3px;
    line-height: 18px;
  }