html,
body {
  overflow-x: hidden; 
  margin: 0;
  height: 100vh;
}

 html {
  background-color:  var(--dark-theme-background-color);
  max-width: 100vw;
 }

 #__next {
  height: 100vh;
overflow: hidden;
 }
.mainContainer {
  width: 100%;
  height: calc(100vh - 7rem);
}


  /**************************/
/***     Variables      ***/
/**************************/
:root {
  /* colors */
  --WhiteColor:#F9FAF4;
  /* --GreyColor: #4A6163; */

  --dark-theme-background-color: #262833;
  --dark-theme-white87:rgb(255, 255, 255, 0.87);
  --dark-theme-white60:rgb(255, 255, 255, 0.60);
  --dark-theme-bg-tag: #36c7d052;
  --dark-theme-bg-hover: rgba(54, 199, 208, 0.05);
  --dark-theme-orange: #ffdcb6;

}



 html {

  max-width: 100vw;

 }

/**************************/
/***         RESET      ***/
/**************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2,h3, h4, h5, h6,li {
  color: var(--dark-theme-white87)
}

p {
  color: var(--dark-theme-white60)
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
button,
img,
ul,
ol,
li,
a {
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
  color: inherit;
}



@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**************************/
/***     SELECTORS      ***/
/**************************/


h1,
h2 {
  font-size: 2.5rem;
}

h3{
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
  padding: 0 0.3rem 0 0.3rem;
}

p,
div {
  font-size: 1rem;
}

ul {
  font-size: 0.8rem;
}

