.containerCardProject {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  padding: 16px 0;
  border-radius: 10px;
}

.containerCardProject:hover {
  background-color: var(--dark-theme-bg-hover);
}

.containerProjectInfo {
  display: flex;
  flex-direction: column;
  padding-right: 16px;

}

/* @media only screen and (max-width: 56.25rem) {
  .containerProjectInfo {
    padding-right: 16px;
  }
} */

.githubLink , .titleName {
  padding-right: 8px;
}


.linkDemo :hover {
  transform: scale(1.2);
}

.containerTitel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projectDescription {
  padding: 16px 0;
  line-height: 1.4rem;
}

@media only screen and (max-width: 37.5rem) {
  .containerImageProject {
    display: none;
  }
  .containerProjectInfo {
    padding-left: 16px;
  }
}

@media only screen and (max-width: 28.125rem) {
  .projectDescription {
    padding: 16px 0;
  }
}
