.containerCardProject {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  padding: 16px 0;
  border-radius: 10px;
  text-align: justify;
}

.containerCardProject:hover {
  background-color: var(--dark-theme-bg-hover);
}

.containerProjectInfo {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 900px) {
  .containerProjectInfo {
    padding-right: 16px;
  }
}

.githubLink , .titleName {
  padding-right: 8px;
}


.linkDemo :hover {
  transform: scale(1.2);
}

.containerTitel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projectDescription {
  padding: 16px 0;
  line-height: 24px;
}

@media only screen and (max-width: 600px) {
  .containerImageProject {
    display: none;
  }
  .containerProjectInfo {
    padding-left: 16px;
  }
}

@media only screen and (max-width: 450px) {
  .projectDescription {
    padding: 16px 0;
  }
}
