.aboutSection {
  height: 100%;
  text-align: justify;
}
.aboutContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.aboutInside {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 40px 0;
}

.textAbout {
  margin-top: 10px;
  line-height: 1.4;
}
.link:hover {
  cursor: pointer;
}

.textVersion {
  margin-right: 5px;
}

.arrowContainer {
  padding-top: 40px;
}
.arrowLeftContainer , .arrowRightContainer{
  padding-top: 40px;
}

@media only screen and (max-width: 900px) {
  .aboutSection {
    height: fit-content;
    padding-top: 80px;
  }
}

/* Arrows */

.arrowRightContainer {
  display: flex;
  flex-direction: row;
}
.buttonArrow {
  cursor: pointer;
  border: none;
  background: var(--dark-theme-background-color);
}

.arrowRight {
  /* display: inline-block; */
  float: left;
  cursor: pointer;
}

.arrowRight:before {
  content: "";
  height: 3px;
  width: 32px;
  background-color: var(--dark-theme-white60);
  display: block;
  float: left;
  position: relative;
  top: 7px;
  transition: 0.3s ease-in-out;
}

.arrowRight:after {
  content: "";
  float: left;
  border-left: 9px solid var(--dark-theme-white60);
  border-right: 9px solid transparent;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
}

.arrowRight:hover:before {
  width: 48px;
}

.arrowLeftContainer {
  display: flex;
  justify-content: flex-end;
}

.arrowLeft {
  display: inline-block;
  cursor: pointer;
}

.arrowLeft:before {
  content: "";
  height: 3px;
  width: 32px;
  background-color: var(--dark-theme-white60);
  display: block;
  float: right;
  position: relative;
  top: 7px;
  transition: 0.3s ease-in-out;
}

.arrowLeft:after {
  content: "";
  float: right;
  border-left: 9px solid transparent;
  border-right: 9px solid var(--dark-theme-white60);
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
}

.arrowLeft:hover:before {
  width: 48px;
}

@media only screen and (min-width: 1200px) {
  .aboutInside {
    justify-content: unset;
  }

  .arrowRightContainer,
  .arrowLeftContainer {
    margin-top: 64px;
  }
}
