.headerContainer {
    display: flex;
    flex-direction: column;
    padding: 2rem 2.5rem 2rem 5rem;
}

.headerIntroduction {
    display: flex;
    flex-direction: column;
}

.textIntroduction {
    background-image: linear-gradient(to top, #f17a7e, #f58179, #f88975, #f99171, #fa9a6e, #fca06a, #fda767, #fdae64, #ffb45e, #ffbb58, #ffc251, #ffc94b);  
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.textAbout {
    margin-top: 0.8rem;
    line-height: 1.4;
}
.link:hover{
    cursor: pointer;

}

/* Arrows */
.arrowRight{
    display:inline-block;
    float:left;
    cursor:pointer;
  }
  
  .arrowRight:before{
    content:'';
    height:4px;
    width:20px;
    background-color:#000;
    display:block;
    float:left;
    position:relative;
    top:9px;
    transition:0.2s ease-in-out;
  }
  
  .arrowRight:after{
    content:'';
    float:left;
    border-left:11px solid #000;
    border-right:11px solid transparent;
    border-top:11px solid transparent;
    border-bottom:11px solid transparent;
  }
  
  .arrowRight:hover:before{
    width:40px;
  }

  .arrowLeftContainer {
    display: flex;
    justify-content: flex-end;
  }

  .arrowLeft{
    display:inline-block;
    /* float:right; */
    cursor:pointer;
  }
  
  .arrowLeft:before{
    content:'';
    height:4px;
    width:20px;
    background-color:#000;
    display:block;
    float:right;
    position:relative;
    top:9px;
    transition:0.2s ease-in-out;
  }
  
  .arrowLeft:after{
    content:'';
    float:right;
    border-left:11px solid transparent;
    border-right:11px solid #000;
    border-top:11px solid transparent;
    border-bottom:11px solid transparent;
  }
  
  .arrowLeft:hover:before{
    width:40px;
  }