.headerContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between; 
    padding: 2.5rem 5rem 2.5rem 0 ;
}

.headerIntroduction {
    display: flex;
    flex-direction: column;
}

.textIntroduction {
    background-image: linear-gradient(to top, #f17a7e, #f58179, #f88975, #f99171, #fa9a6e, #fca06a, #fda767, #fdae64, #ffb45e, #ffbb58, #ffc251, #ffc94b);  
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.textAbout {
    line-height: 1.4;
    padding-right: 5rem;
    padding-top: 2.5rem;
}
.link:hover{
    cursor: pointer;

}

