.navigationContainer {
  display: flex;
  min-height: 80px;
  width: 100%;
  border-bottom: 1px solid var(--dark-theme-white60);
  position: fixed;
  z-index: 10;
  background-color: var(--dark-theme-background-color);
}

.navigationInside {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  list-style-type: none;
  padding-right: 80px
}

.navSpace {
  margin-left: 16px;
}

.navSpace :hover {
  transition: color 2s ease-in-out;
  transition: text-decoration 2s ease-in-out;
  text-decoration: underline;
  color: var(--dark-theme-orange);
}

.navSpaceActive {
  text-decoration: underline;
  color: var(--dark-theme-orange);
}

.navName {
  font-size: 1.5rem;
}



@media only screen and (max-width: 750px) {
  .navigationInside {
    justify-content: flex-start;
    margin-right: 0;
    padding-left: 24px;
    padding-right: 0;
  }
  .navSpace {
    margin-left: 0;
    margin-right: 16px;
  }
  .navName {
    font-size: 1rem;
  }
  .navigationContainer {
    margin-bottom: 10px;
  }
}


@media(min-width:751px ) and (max-width: 900px) {
  .navigationInside {
    padding-right: 80px;

  }
}

@media only screen and (min-width: 1200px) {
  .navigationContainer {
    justify-content: center;
  }
  .navigationInside {
    width: 80%;
  }
}

@media only screen and (min-width: 1600px) {

  .navigationInside {
    width: 70%;
  }
}