.containerSoloProjects {
  height: fit-content;
  padding-top: 40px;

  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */

.containerSoloProjects::-webkit-scrollbar {
  display: none;
}

.listProjects {
  display: flex;
  flex-direction: column;
}
